openapi: 3.0.1
info:
  title: RadiatorThermostatFiware
  description: API specification for IoT platform including Radiator Thermostat Fiwares
  version: '1.0'
servers:
- url: http://fiware.rwth-aachen.de/
paths:
  /v2/entities:
    get:
      tags:
      - Radiator Thermostat Fiware
      summary: Get Radiator Thermostat Fiwares
      description: Retrieves available radiator thermostat fiwares
      operationId: getRadiatorThermostatFiwares
      parameters:
      - name: type
        in: query
        description: Entity type, to avoid ambiguity in case there are several entities
          with the same entity id.
        schema:
          type: string
          default: RadiatorThermostatFiware
      - name: Fiware-Service
        in: header
        required: true
        schema:
          type: string
          default: semantic_iot
      - name: Fiware-ServicePath
        in: header
        required: true
        schema:
          type: string
          default: /
      responses:
        '200':
          description: Successful operation. Returns the entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RadiatorThermostatFiware'
        '404':
          description: Radiator Thermostat Fiware not found.
          content: {}
        '500':
          description: Internal server error.
          content: {}
    post:
      tags:
      - Radiator Thermostat Fiware
      summary: Create Radiator Thermostat Fiware
      description: Creates a new Radiator Thermostat Fiware entity in the system.
      operationId: createRadiatorThermostatFiware
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RadiatorThermostatFiware'
            example:
              id: radiatorthermostatfiware001
              type: RadiatorThermostatFiware
      parameters:
      - name: Fiware-Service
        in: header
        required: true
        schema:
          type: string
          default: semantic_iot
      - name: Fiware-ServicePath
        in: header
        required: true
        schema:
          type: string
          default: /
      responses:
        '201':
          description: Radiator Thermostat Fiware successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RadiatorThermostatFiware'
        '400':
          description: Invalid input data.
          content: {}
        '500':
          description: Internal server error.
          content: {}
components:
  schemas:
    RadiatorThermostatFiware:
      additionalProperties: true
      description: Extends the RadiatorThermostat class to include Fiware-specific
        properties.
      properties:
        id:
          description: 'Id of an entity in an NGSI context broker. Allowed characters
            are the ones in the plain ASCII set, except the following ones: control
            characters, whitespace, &, ?, / and #.'
          example: Bcn-Welt
          maxLength: 256
          minLength: 1
          title: Entity Id
          type: string
        type:
          default: RadiatorThermostat
          title: Type
          type: string
        hasLocation:
          anyOf:
          - type: string
          - type: 'null'
          default: null
          title: Haslocation
        temperatureSetpoint:
          anyOf:
          - type: number
          - type: 'null'
          default: 0
          title: Temperaturesetpoint
      required:
      - id
      title: RadiatorThermostatFiware
      type: object
