openapi: 3.0.1
info:
  title: HotelRoomFiware
  description: API specification for IoT platform including Hotel Room Fiwares
  version: '1.0'
servers:
- url: http://fiware.rwth-aachen.de/
paths:
  /v2/entities:
    get:
      tags:
      - Hotel Room Fiware
      summary: Get Hotel Room Fiwares
      description: Retrieves available hotel room fiwares
      operationId: getHotelRoomFiwares
      parameters:
      - name: type
        in: query
        description: Entity type, to avoid ambiguity in case there are several entities
          with the same entity id.
        schema:
          type: string
          default: HotelRoomFiware
      - name: Fiware-Service
        in: header
        required: true
        schema:
          type: string
          default: semantic_iot
      - name: Fiware-ServicePath
        in: header
        required: true
        schema:
          type: string
          default: /
      responses:
        '200':
          description: Successful operation. Returns the entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotelRoomFiware'
        '404':
          description: Hotel Room Fiware not found.
          content: {}
        '500':
          description: Internal server error.
          content: {}
    post:
      tags:
      - Hotel Room Fiware
      summary: Create Hotel Room Fiware
      description: Creates a new Hotel Room Fiware entity in the system.
      operationId: createHotelRoomFiware
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelRoomFiware'
            example:
              id: hotelroomfiware001
              type: HotelRoomFiware
              name: Hotel Example
      parameters:
      - name: Fiware-Service
        in: header
        required: true
        schema:
          type: string
          default: semantic_iot
      - name: Fiware-ServicePath
        in: header
        required: true
        schema:
          type: string
          default: /
      responses:
        '201':
          description: Hotel Room Fiware successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotelRoomFiware'
        '400':
          description: Invalid input data.
          content: {}
        '500':
          description: Internal server error.
          content: {}
components:
  schemas:
    HotelRoomFiware:
      additionalProperties: true
      description: Extends the HotelRoom class to include Fiware-specific properties.
      properties:
        id:
          description: 'Id of an entity in an NGSI context broker. Allowed characters
            are the ones in the plain ASCII set, except the following ones: control
            characters, whitespace, &, ?, / and #.'
          example: Bcn-Welt
          maxLength: 256
          minLength: 1
          title: Entity Id
          type: string
        type:
          default: HotelRoom
          title: Type
          type: string
        name:
          default: null
          title: Name
          type: string
        hasLocation:
          default: null
          title: Haslocation
          type: string
      required:
      - id
      title: HotelRoomFiware
      type: object
