openapi: 3.0.1
info:
  title: PresenceSensorFiware
  description: API specification for IoT platform including Presence Sensor Fiwares
  version: '1.0'
servers:
- url: http://fiware.rwth-aachen.de/
paths:
  /v2/entities:
    get:
      tags:
      - Presence Sensor Fiware
      summary: Get Presence Sensor Fiwares
      description: Retrieves available presence sensor fiwares
      operationId: getPresenceSensorFiwares
      parameters:
      - name: type
        in: query
        description: Entity type, to avoid ambiguity in case there are several entities
          with the same entity id.
        schema:
          type: string
          default: PresenceSensorFiware
      - name: Fiware-Service
        in: header
        required: true
        schema:
          type: string
          default: semantic_iot
      - name: Fiware-ServicePath
        in: header
        required: true
        schema:
          type: string
          default: /
      responses:
        '200':
          description: Successful operation. Returns the presence measurement.
          content:
            text/plain:
              schema:
                type: number
                format: float
              example: 1.0
        '404':
          description: Presence Sensor Fiware not found.
          content: {}
        '500':
          description: Internal server error.
          content: {}
    post:
      tags:
      - Presence Sensor Fiware
      summary: Create Presence Sensor Fiware
      description: Creates a new Presence Sensor Fiware entity in the system.
      operationId: createPresenceSensorFiware
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceSensorFiware'
            example:
              id: presencesensorfiware001
              type: PresenceSensorFiware
              pir: 1.0
      parameters:
      - name: Fiware-Service
        in: header
        required: true
        schema:
          type: string
          default: semantic_iot
      - name: Fiware-ServicePath
        in: header
        required: true
        schema:
          type: string
          default: /
      responses:
        '201':
          description: Presence Sensor Fiware successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceSensorFiware'
        '400':
          description: Invalid input data.
          content: {}
        '500':
          description: Internal server error.
          content: {}
components:
  schemas:
    PresenceSensorFiware:
      additionalProperties: true
      description: Extends the PresenceSensor class to include Fiware-specific properties.
      properties:
        id:
          description: 'Id of an entity in an NGSI context broker. Allowed characters
            are the ones in the plain ASCII set, except the following ones: control
            characters, whitespace, &, ?, / and #.'
          example: Bcn-Welt
          maxLength: 256
          minLength: 1
          title: Entity Id
          type: string
        type:
          default: PresenceSensor
          title: Type
          type: string
        hasLocation:
          default: null
          title: Haslocation
          type: string
        pir:
          anyOf:
          - type: number
          - type: 'null'
          default: 0
          title: Pir
      required:
      - id
      title: PresenceSensorFiware
      type: object
